In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
#simple interest calculation
p=int(input("Enter principal"))
r=int(input('rate of interest'))
t=int(input('number of years'))
interest=0

for i in range(0,t):
  interest=(p*r)/100
  p=p+interest #Amount at the time of withdrawl
print(p)

Enter principal10000
rate of interest5
number of years2
11025.0

In [ ]:
#sum of all numbers in a given range
low_range=int(input("enter the lower range"))
up_range=int(input("enter the upper range"))

sum=0
i=0
for i in range(low_range, up_range):
  sum+=i

print(sum)

enter the lower range2
enter the upper range5
9

In [ ]:
fruits=['Apple','PineApple','Mango','Cherry','Elderberry']

for fruit in fruits:
  print(fruit, end=" ")

Apple PineApple Mango Cherry Elderberry

In [ ]:
l1=[1,2,3,4,5]

for i in l1:
  print(i, end=" ")

1 2 3 4 5

In [ ]:
for i in range(10): #[0,1,2,3,4,5,6,7,8,9]
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11): #step=1 bydefault
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1,11,2): #every 2nd element gets skipped
  print(i)

1
3
5
7
9

In [ ]:
for i in range(2,10,3):
  print(i)

2
5
8

In [ ]:
for i in range(11,1,-1):
  print(i)

11
10
9
8
7
6
5
4
3
2

In [ ]:
l1=[1,2,3,4,5]

for i in l1:
  if i==3:
    continue
  print(i)

1
2
4
5

In [ ]:
l1=[1,2,3,4,5]

for i in l1:
  if i==3:
    break
  print(i)

1
2